.calculator {
    width: 350px;
    height: 555px;
    background-color: rgb(138, 117, 220);
    border: solid 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding-top: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}
.screen {
    width: 90%;
    height: 15%;
    background-color: rgb(250, 235, 215);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    text-align: right;
    font-size: 2em;
    padding: 10px;
    box-sizing: border-box;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 5%;
    padding-top: 25px;
}
.buttons button {
    height: 80px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}
.buttons button:active {
    background-color: rgb(138, 117, 220);
}
.clear{
    height: 70px;
    width: 70px;
    margin-left: 19px;
    margin-top: 19px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}
